
/* _--------------------------------_*/
header{ 
    padding: 5px;
    margin: -10px;
   
    height: 200px;
    width: auto;
    
}
/* _---------------- Top Logo, Main Logo at the top of the page ----------------_*/
#logo{ 
    position: relative; left: 40px; top: 0px;

}

#logo:hover{    /* Might not be necessary */
    opacity: 80%;
}


/* _--------------  Background image for website --> Folder /assets/------------------_*/
body{ 
    background-image: url('/assets/cityskyline.png'); 

}
/* _--------------- Navigation bar item -----------------_*/

#nav_bar{ 
    position: relative; bottom: 130px; left: 500px; 
    width: fit-content;
}

.nav_item{ 
    padding: 15px;
    margin: 15px;
    border-radius: 30px;
    color: lightgrey;
    display: inline;
    background-color: #1e2b58;
    width: fit-content;
    
}

.nav_link{ 
    text-decoration: none;
    color: black;
    text-align: center;
    
}

.nav_item:hover{ 
    opacity: 80%;
    cursor: pointer;
    
}
/* _----------------    UNDER NAV BAR ----------------_*/


.element-team-section1{ 
    height: 10%;
    width: 100%;
    
}

#under-nav-bar{ 
    padding: 15px;
    margin: auto;
    position: relative;top: 30px; left: 120px;
    border-radius: 30px;
    color: lightgrey;
    display: inline;
    background-color: #1e2b58;
    width: fit-content;

}

#under-nav-bar-link{ 
    text-align: center;
    text-decoration: none;
    color: #fff;
    /*text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(71,77,150),
      0 0 82px rgb(71,77,150),
      0 0 92px rgb(71,77,150),
      0 0 102px rgb(71,77,150),
      0 0 121px rgb(71,77,150);
    */
} 

#under-nav-bar:hover{ 
    opacity: 80%; /* NEEDS WORK */ 
}


    



/* _----------------    ELEMENT SECTION 2 ----------------_*/
.element-team-section2{ 
    height: 40%;
    width: 100%;
    
    

}

.element-team-div1{ 
    height: 100%;
    width: 80%;
    background-color: rgb(0, 255, 128);
    opacity: 50%;
    margin: auto;
    border-radius: 20px;
}




body{ 
    height: 1000px;
   
}


html{ 
 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: bold;

}

/*  Debugging Style 
*{ outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); } 
*/



